h1{
    color: brown;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid;
}
.ru{
    border: 5px solid ;
    margin: 5px 7px 9px;
    padding: 50px 60px 70px 90px;
}
.du{
    border: 10px solid;
    height: 400px;
    width: 400px;
    background-image: url('/photo.jpg');
}
